<div style="background-color:rgb(205, 245, 29);" class="jumbotron">
    <div class="container">
        <h1>Hi!!!! {{first_name}} {{last_name}}!</h1>
        <p>You are registered with an email address of {{email}}</p>
        <p>Welcome to your Account</p>
    </div>
</div>